.x-large {
  padding-top: 55px;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.large {
  text-align: center;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
